<div class="container">
    <div class="row">
        <!-- FORMULARIO DE RESTRICCIONES -->
        <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Restricción Perimetral</legend>
                    <form #personaForm="ngForm">
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" type="text" name="dniVictimario"
                                    placeholder="DNI Victimario" ngbTooltip="DNI victimario">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="agregarVictimario()">
                                        <i class="small material-icons">person_add</i>
                                    </button>
                                </div>
                            </div>
                            <label id="labelVictimario"></label>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" type="text" name="dniDamnificada"
                                    placeholder="DNI Damnificada" ngbTooltip="DNI damnificada">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="agregarDamnificada()">
                                        <i class="small material-icons">person_add</i>
                                    </button>
                                </div>
                            </div>
                            <label id="labelDamnificada"></label>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" type="text" name="emailAdministrativo"
                                    placeholder="Email Administrativo a cargo"
                                    ngbTooltip="Email administrativo a cargo">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="agregarAdministrativo()">
                                        <i class="small material-icons">person_add</i>
                                    </button>
                                </div>
                            </div>
                            <label id="labelAdministrativo"></label>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="distancia" placeholder="Distancia"
                                ngbTooltip="Distancia restricción">
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" placeholder="Fecha (Año-Mes-Día)" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                                    ngbTooltip="Fecha de sentencia">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button">
                                        <i class="small material-icons">event</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary btn-block" (click)="agregarRestriccion()">
                                Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA DE RESTRICCIONES -->
        <div class="col">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">Victimario</th>
                        <th scope="col">Damnificada</th>
                        <th scope="col">Fecha Sentencia</th>
                        <th scope="col">Distancia</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>
</div>