<div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <legend>Persona</legend>
        <form #personaForm="ngForm">
            <div class="row">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="apellido" placeholder="Apellido">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="dni" placeholder="DNI">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="telefono" placeholder="Teléfono">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="fechaNacimiento" placeholder="Fecha de nacimiento">
            </div>
            <div class="row">
                <div class="form-group btn-block">
                    <select class="custom-select">
                        <option selected="">Tipo de persona</option>
                        <option value="1">VICTIMARIO</option>
                        <option value="2">DAMNIFICADA</option>
                    </select>
                </div>
            </div>
            <label>Dirección</label>
            <div class="row">
                <input class="form-control" type="text" name="calle" placeholder="Calle">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="altura" placeholder="Altura">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="piso" placeholder="Piso">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="departamento" placeholder="Departamento">
            </div>
            <div class="row">
                <input class="form-control" type="text" name="localidad" placeholder="Localidad">
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-block">Agregar</button>
    </div>
</div>