<div class="general">
    <div class="opciones-victimario">
        <div class="col-10">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <legend>Victimario</legend>
                    <form>
                        <div class="row">
                            <div class="form-group btn-block">
                                <select class="form-control" name="dia" ngbTooltip="Día de rutina">
                                    <option *ngFor="let dia of dias">
                                        {{dia}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <select class="form-control" name="dia" ngbTooltip="Hora">
                                    <option>1
                                    </option>
                                </select>
                                <a>:</a>
                                <select class="form-control" name="minutos" ngbTooltip="Minutos">
                                        <option *ngFor="let minuto of minutos">
                                                {{minuto}}
                                        </option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block">ver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="map">
    </div>
</div>