.general{
    margin: auto;
    width: 99%;
    height: 800px;
}

.lista-restricciones{
    float: left;
    width: 30%;
    height: 100%;
}

.map{
    float: left;
    width: 70%;
    height: 100%;
}