<div class="general">
    <div class="lista-restricciones">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Victimario</th>
                    <th scope="col">Damnificada</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restriccion of restriccionService.restricciones" class="table-active">
                    <td>{{restriccion.victimario.apellido}}</td>
                    <td>{{restriccion.damnificada.apellido}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="map" class="map">

        <p>Mapa con ubicaciones</p>
    </div>
</div>