<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img class="img" src="https://image.flaticon.com/icons/svg/1499/1499591.svg" alt="W3Schools.com">

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="restricciones">Restricciones perimetrales <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notificaciones">Notificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Incidencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pruebas de vida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administrar</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>