<div class="alert alert-danger" role="alert" *ngIf="hayError">
    {{ mensajeError }}
</div>
<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <!-- FORMULARIO DE PERSONAS -->
        <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Persona</legend>
                    <form #personaForm="ngForm" (ngSubmit)="guardarPersona(personaForm)" novalidate>
                        <div class="row">
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre"
                                [ngClass]="{ 'is-invalid': nombre.invalid && nombre.touched, 'is-valid': nombre.valid}"
                                #nombre="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.nombre"
                                ngbTooltip="Nombre" required maxlength="50">
                            <div class="invalid-feedback d-block"
                                *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                Nombre requerido
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="apellido" placeholder="Apellido"
                                [ngClass]="{ 'is-invalid': apellido.invalid && apellido.touched, 'is-valid': apellido.valid}"
                                #apellido="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.apellido"
                                ngbTooltip="Apellido" required maxlength="50">
                            <div class="invalid-feedback d-block"
                                *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                                Apellido requerido
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="DNI" placeholder="DNI" #DNI="ngModel"
                                [(ngModel)]="personaDTOSelleccionada.persona.dni"
                                [ngClass]="{ 'is-invalid': DNI.invalid && DNI.touched, 'is-valid': DNI.valid}"
                                ngbTooltip="DNI" required maxlength="10" pattern="^[0-9]+">
                            <div class="invalid-feedback d-block" *ngIf="DNI.invalid && (DNI.dirty || DNI.touched)">
                                DNI requerido
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="telefono" placeholder="Teléfono"
                                #telefono="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.telefono"
                                [ngClass]="{ 'is-invalid': telefono.invalid && telefono.touched, 'is-valid': telefono.valid}"
                                ngbTooltip="Teléfono" required maxlength="30" pattern="^[0-9]+">
                            <div class="invalid-feedback d-block"
                                *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                Telefono requerido
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="email" placeholder="Email" #email="ngModel"
                                [(ngModel)]="personaDTOSelleccionada.usuario.email"
                                [ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid}"
                                ngbTooltip="Email" required email maxlength="50"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <div class="invalid-feedback d-block"
                                *ngIf="email.invalid && (email.dirty || email.touched)">
                                Email requerido
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" placeholder="Fecha nacimiento (Año-Mes-Día)"
                                    name="fechaNacimiento" [(ngModel)]="personaDTOSelleccionada.persona.fechaNacimiento"
                                    ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="maxDatePicker"
                                    #d="ngbDatepicker" ngbTooltip="Fecha nacimiento" [startDate]="fechaMarcador" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button">
                                        <i class="small material-icons">event</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Rol Persona</label>
                            <div class="form-group btn-block">
                                <select class="form-control" name="rolSeleccionado" [(ngModel)]="rolSeleccionado"
                                    ngbTooltip="Rol de persona" (change)="cambioRol()" required>
                                    <option *ngFor="let rol of roles">
                                        {{rol}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <legend>Domicilio</legend>
                        <div class="row">
                            <input class="form-control" type="text" name="calle" placeholder="Calle" #calle="ngModel"
                                [(ngModel)]="personaDTOSelleccionada.direccion.calle"
                                [ngClass]="{ 'is-invalid': calle.invalid && calle.touched, 'is-valid': calle.valid}"
                                ngbTooltip="Calle" required maxlength="50">
                            <div class="invalid-feedback d-block"
                                *ngIf="calle.invalid && (calle.dirty || calle.touched)">
                                Calle requerida
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="altura" placeholder="Altura"
                                #altura="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.altura"
                                [ngClass]="{ 'is-invalid': altura.invalid && altura.touched, 'is-valid': altura.valid}"
                                ngbTooltip="Altura" required maxlength="8" pattern="^[0-9]+">
                            <div class="invalid-feedback d-block"
                                *ngIf="altura.invalid && (altura.dirty || altura.touched)">
                                Altura requerida
                            </div>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="piso" placeholder="Piso" #piso="ngModel"
                                [(ngModel)]="personaDTOSelleccionada.direccion.piso" ngbTooltip="Piso" maxlength="3">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="departamento" placeholder="Departamento"
                                #departamento="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.departamento"
                                ngbTooltip="Departamento" maxlength="8">
                        </div>
                        <div class="row">
                            <label>Provincia</label>
                            <div class="form-group btn-block">
                                <select class="form-control" name="provinciaSeleccionada"
                                    [(ngModel)]="provinciaSeleccionada" ngbTooltip="Provincia"
                                    (change)="cambioProvincia()" required>
                                    <option>-Seleccionar Provincia-</option>
                                    <option *ngFor="let provincia of provincias">
                                        {{provincia.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label>Localidad</label>
                            <div class="form-group btn-block">
                                <select class="form-control" name="localidadSeleccionada"
                                    [(ngModel)]="localidadSeleccionada" ngbTooltip="Localidad"
                                    (change)="cambioLocalidad()" required>
                                    <option>-Seleccionar localidad-</option>
                                    <option *ngFor="let localidad of localidades">
                                        {{localidad.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <legend *ngIf="mostrarImagen">Foto Agresor</legend>
                        <div class="row" *ngIf="mostrarImagen">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="imagen"
                                    (change)="archivoSeleccionado($event)" accept="image/*">
                                <label class="custom-file-label" id="labelImagen" for="customFile">Seleccionar
                                    imagen</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <button class="btn btn-primary btn-block" [disabled]="!personaForm.valid">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA DE PERSONAS -->
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Fecha nacimiento</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personaService.personas">
                        <td>{{persona.persona.nombre}}</td>
                        <td>{{persona.persona.apellido}}</td>
                        <td>{{persona.persona.dni}}</td>
                        <td class="joinedDate">{{persona.persona.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <a (click)="editarPersona(persona)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarPersona(persona)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>