<div class="container">
    <div class="row">
        <!-- FORMULARIO DE PERSONAS -->
        <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Persona</legend>
                    <form #personaForm="ngForm" (ngSubmit)="agregarPersona(personaForm)">
                        <div class="row">
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre"
                            #nombre="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.nombre"
                            ngbTooltip="Nombre">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="apellido" placeholder="Apellido"
                            #apellido="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.apellido"
                            ngbTooltip="Apellido">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="DNI" placeholder="DNI"
                            #DNI="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.dni"
                            ngbTooltip="DNI">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="telefono" placeholder="Teléfono"
                            #telefono="ngModel" [(ngModel)]="personaDTOSelleccionada.persona.telefono"
                            ngbTooltip="Teléfono">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="email" placeholder="Email"
                            #email="ngModel" [(ngModel)]="personaDTOSelleccionada.usuario.email"
                            ngbTooltip="Email">
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" placeholder="Fecha nacimiento (Año-Mes-Día)" name="fechaNacimiento"
                                    [(ngModel)]="personaDTOSelleccionada.persona.fechaNacimiento" ngbDatepicker #d="ngbDatepicker"
                                    ngbTooltip="Fecha nacimiento">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button">
                                        <i class="small material-icons">event</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group btn-block">
                                <select class="form-control" name="rolSeleccionado" [(ngModel)]="rolSeleccionado"
                                ngbTooltip="Rol de persona">
                                    <option *ngFor="let rol of roles">
                                        {{rol}}
                                      </option>
                                </select>
                            </div>
                        </div>
                        <label>Dirección</label>
                        <div class="row">
                            <input class="form-control" type="text" name="calle" placeholder="Calle"
                            #calle="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.calle"
                            ngbTooltip="Calle">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="altura" placeholder="Altura"
                            #altura="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.altura"
                            ngbTooltip="Altura">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="piso" placeholder="Piso"
                            #piso="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.piso"
                            ngbTooltip="Piso">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="departamento" placeholder="Departamento"
                            #departamento="ngModel" [(ngModel)]="personaDTOSelleccionada.direccion.departamento"
                            ngbTooltip="Departamento">
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" name="localidad" placeholder="Localidad"
                            ngbTooltip="Localidad">
                        </div>
                        <div class="row">
                            <button class="btn btn-primary btn-block">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA DE PERSONAS -->
        <div class="col">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Fecha nacimiento</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personaService.personas" class="table-active">
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.dni}}</td>
                        <td>{{persona.fechaNacimiento}}</td>
                        <td>
                            <a (click)="editarPersona(persona)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarPersona(persona.idPersona)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>