.card:hover{
    opacity: .9;
}

.card-header i{
    position: absolute;
    left: 95%;
}

.card-header a{
    margin-left: 2%;
}

.archivadas{
    margin-top: 3%;
    float: right;
    text-align: right;
}

.btn{
    float: right;
}