.container{
    margin-top: 5%;
    color: #053667;
}

.row{
    margin-top: 10px;
}

.card{
    text-align: center
}

.table{
    color: #053667;
}

.label{
    margin-top: 15px;
}

table tr:hover {
    background-color: azure;
    cursor: pointer;
}
