.container{
    color: #053667;
}

.table{
    color: #053667;
}

.card{
    text-align: center
}

.row{
    margin-top: 10px;
}

.form-group{
    margin-top: 10px;
}
.table tr:hover {
    background-color: azure;
    cursor: pointer;
}

.table i:hover{
    opacity: .3;
}

.modal-body{
    text-align: center;
}

.modal-footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.spinner-grow{
    position: fixed;
    margin-top: 20%;
    z-index: 9999;
}
